## DataFrames practice: working with English Words

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Asus WebStorage\moniquebedo@hotmail.com\MySyncFolder\Learning\Projects\WordsPandas\words.csv", index_col='Word')

By putting index_col='Word' the first column in the cvs file becomes the index, otherwise, the df will have 3 columns. You can try by eliminating this line of code and run the df.info() or df.shape, you will see it has

In [17]:
df.head()

       Char Count  Value
Word
a               1    484
aa              2    469
aaa             3     52
aaron           5    127
ab              2    407

#### How many elements does this dataframe have?

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, a to zus
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Char Count  10000 non-null  int64
 1   Value       10000 non-null  int64
dtypes: int64(2)
memory usage: 234.4+ KB

In [19]:
df.shape

(10000, 2)

#### What is the value of the word **abraham**?

In [20]:
df.loc['abraham']

Char Count      7
Value         485
Name: abraham, dtype: int64

In [21]:
df.loc['abraham', 'Value'] # .loc[Index, columns]

485

#### What is the highest possible value of a word?

In [22]:
df['Value'].max()

500

In [23]:
df['Value'].sort_values()

Word
former             1
sterling           1
away               1
remainder          1
toxic              1
                ...
authorization    500
child            500
generous         500
noble            500
generating       500
Name: Value, Length: 10000, dtype: int64

In [24]:
df.max()

Char Count     22
Value         500
dtype: int64

#### Which of the following words have a Char Count of 6 and a Value of 481? court, deeply, creativity, specials

In [29]:
#the .loc method cal holds a list (this case strings)
df.loc[[
    "court", 
    "deeply", 
    "creativity", 
    "specials"
]]

            Char Count  Value
Word
court                5    481
deeply               6    481
creativity          10     92
specials             8    128

In [31]:
df.loc[[
    "court", 
    "deeply", 
    "creativity", 
    "specials"
], "Value"]

Word
court         481
deeply        481
creativity     92
specials      128
Name: Value, dtype: int64

#### What is the highest possible length of a word?

In [32]:
df['Char Count'].max()

22

In [33]:
df.describe()

         Char Count         Value
count  10000.000000  10000.000000
mean       6.588000    251.616300
std        2.558029    144.329016
min        1.000000      1.000000
25%        5.000000    127.000000
50%        6.000000    252.000000
75%        8.000000    378.000000
max       22.000000    500.000000

#### What is the word with the value of 319?

In [35]:
df.loc[df['Value'] == 319]

             Char Count  Value
Word
achievement          11    319
bridal                6    319
bride                 5    319
comply                6    319
currently             9    319
dd                    2    319
destroy               7    319
doctors               7    319
farming               7    319
finder                6    319
gem                   3    319
gratuit               7    319
hyundai               7    319
later                 5    319
locked                6    319
lt                    2    319
rock                  4    319
vendors               7    319
view                  4    319
whom                  4    319

In [38]:
df.sort_values(by='Value', ascending=False) #this way we cannot see the  value we are looking for

             Char Count  Value
Word
eco                   3    500
distinct              8    500
generating           10    500
generous              8    500
gordon                6    500
...                 ...    ...
expressions          11      1
excluding             9      1
sterling              8      1
remainder             9      1
transit               7      1

[10000 rows x 2 columns]

#### What is the most common value?

In [36]:
df.mode()

   Char Count  Value
0           6    333

In [40]:
df['Value'].mode()

0    333
Name: Value, dtype: int64

In [43]:
df['Value'].value_counts().head()

Value
333    36
99     33
180    33
311    32
417    31
Name: count, dtype: int64

#### What is the shortest word with value 274?

In [45]:
df.loc[df['Value']==274].sort_values(by='Char Count')

               Char Count  Value
Word
law                     3    274
usb                     3    274
ease                    4    274
moon                    4    274
tells                   5    274
volvo                   5    274
united                  6    274
graphic                 7    274
journal                 7    274
election                8    274
lingerie                8    274
promptly                8    274
published               9    274
prerequisite           12    274
subscriptions          13    274

In [49]:
df.loc[df['Value']==274, 'Char Count'].min()

3

In [53]:
df.loc[
    (df['Value']==271) & 
    (df['Char Count'] == 3)
]

      Char Count  Value
Word
bad            3    271
mpg            3    271

In [ ]:
df.loc[
    (df['Value']==271) & 
    (df['Char Count'] == df.loc[df['Value'] ==271, 'Char Count'].min())
]

In [9]:
df.loc[
    (df['Value']==271) & 
    (df['Char Count'] == df.loc[df['Value'] ==274 , 'Char Count'].min())
]

      Char Count  Value
Word
bad            3    271
mpg            3    271

#### Create a column Ratio which represents the 'Value Ratio' of a word.

The "Value Ratio" of a word is defined as the Value of a word divided by its length. That is: ValueRatio(word) = Value(word) / len(word)

In [12]:
df['Ratio'] = df['Value']/ df['Char Count']
df.head()

       Char Count  Value       Ratio
Word
a               1    484  484.000000
aa              2    469  234.500000
aaa             3     52   17.333333
aaron           5    127   25.400000
ab              2    407  203.500000

#### What is the maximum value of Ratio?

In [13]:
df['Ratio'].max()

484.0

#### What word is the one with the highest Ratio?

In [14]:
df.sort_values(by='Ratio', ascending=False)

             Char Count  Value       Ratio
Word
a                     1    484  484.000000
t                     1    462  462.000000
i                     1    460  460.000000
s                     1    457  457.000000
e                     1    446  446.000000
...                 ...    ...         ...
sterling              8      1    0.125000
excluding             9      1    0.111111
remainder             9      1    0.111111
sufficient           10      1    0.100000
expressions          11      1    0.090909

[10000 rows x 3 columns]

In [16]:
df.loc[df['Ratio'] == df['Ratio'].max()]

      Char Count  Value  Ratio
Word
a              1    484  484.0

#### How many words have a Ratio of 484?

In [19]:
df['Ratio'].value_counts()

Ratio
4.000000      28
54.000000     27
22.000000     27
49.000000     27
23.000000     26
              ..
127.666667     1
200.500000     1
51.166667      1
22.111111      1
224.500000     1
Name: count, Length: 2941, dtype: int64

In [20]:
df.loc[df['Ratio']==484].shape

(1, 3)

In [22]:
df.query('Ratio == 484').shape

(1, 3)

#### What is the maximum Value of all the words with a Ratio of 484?

In [23]:
df.query('Ratio ==484').sort_values(by='Value', ascending=False).head()

      Char Count  Value  Ratio
Word
a              1    484  484.0

In [25]:
df.loc[df['Ratio'] ==484, 'Value'].max()

484

#### Of those words with a Value of 260, what is the lowest Char Count found?

In [27]:
df.loc[df['Value'] ==260, 'Char Count'].min()

2

#### Based on the previous task, what word is it?

In [31]:
df.loc[df['Value'] ==260].sort_values(by='Char Count').head() #words with value = 260 and char Count = 2

      Char Count  Value       Ratio
Word
lo             2    260  130.000000
lc             2    260  130.000000
je             2    260  130.000000
ie             2    260  130.000000
pmc            3    260   86.666667